@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'variables';

html {
  font-size: 18px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 2rem;
    font-weight: 700;
  }

  .menu ul {
    display: flex;
    align-items: center;
    gap: 1rem;

    li {
      font-weight: 500;
      color: $color-muted;
      transition: color 0.3s;

      &:hover {
        font-weight: 500;
        color: $color-text;
      }
    }
  }
}

.btn {
  border-radius: 1.5rem;
  background-color: $color-block;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;

  &:hover {
    background-color: #f1f1f1;
  }

  &--primary {
    background-color: #000;
    color: $color-block;

    &:hover {
      background-color: $color-text;
    }
  }
}

.welcome {
  &_cta {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }
}
